:root {
  --white: #ffffff;
  --black: #171717;
  --color-one: #233142;
  --color-two: #455d7a;
  --color-three: #e3e3e3;
  --red: #f95959;
  --transition: 300ms;
  --transition2: 200ms;
  --border: 1px solid #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  overflow-y: auto;
  transform: translateY(60px);
}

.main-section {
  max-width: 1200px;
  background-color: var(--color-three);
  padding: 20px;
  margin: auto;
  min-height: calc(100vh - 60px);
}