.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background: linear-gradient(to bottom, var(--color-one), var(--color-two));
    color: var(--white);
    transition: var(--transition);
}

.menu-button {
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--color-three);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5px;
    transition: var(--transition2);
}

.menu-button:hover {
    border-color: var(--white);
}

.menu-button span {
    width: 100%;
    height: 2px;
    background-color: var(--color-three);
    transition: var(--transition2);
}

.menu-button:hover span {
    background-color: var(--white);
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--color-one);
    color: var(--color-three);
    font-size: 22px;
    height: calc(100vh - 60px);
    width: 75%;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 300ms;
}

.show-nav-list {
    transform: translateX(0);
    visibility: visible;
}

/* 
    -small (phone): from 640px or 767px
    -medium (ipads) : from 992px or 1024px
    -big (TVs): from 1299px
*/
@media (min-width: 767px) {
    .nav-bar {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992px) {
    .nav-bar {
        padding-left: 40px;
        padding-right: 40px;
    }

    .menu-button {
        display: none;
    }
    
    .nav-list {
        visibility: visible;
        transform: translateX(0);
        position: static;
        height: fit-content;
        width: fit-content;
        flex-direction: row;
        background-color: transparent;
        font-size: 23px;
        gap: 15px;
    }

    
}